<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Tikukur</title>

  <!-- Favicon -->
  <link rel="apple-touch-icon" href="/assets/images/logo/logo-sm.png">
  <link rel="shortcut icon" href="/assets/images/logo/logo-sm.png">

  <!-- core dependcies css -->
  <link rel="stylesheet" href="/assets/vendor/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/assets/vendor/PACE/themes/blue/pace-theme-minimal.css" />
  <link rel="stylesheet" href="/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css" />

  <!-- page css -->

  <!-- core css -->
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/css/themify-icons.css" rel="stylesheet">
  <link href="/assets/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="/assets/css/animate.min.css" rel="stylesheet">
  <link href="/assets/css/app.css" rel="stylesheet">
</head>

<body>
  <div class="app side-nav-dark">
    <div class="layout">
      <!-- Header START -->
      <div class="header navbar">
        <div class="header-container">
          <div class="nav-logo">
            <a href="hasil">
              <!-- <div class="logo logo-dark">JSA ADMIN</div> -->
              <div class="logo logo-dark" style="background-image: url('/assets/images/logo/banteng.jpg')"></div>
              <!-- <div class="logo logo-white" style="background-image: url('/assets/images/logo/logo-white.png')"></div> -->
            </a>
          </div>
          <ul class="nav-left">
            <li>
              <a class="sidenav-fold-toggler" href="javascript:void(0);">
                <i class="mdi mdi-menu"></i>
              </a>
              <a class="sidenav-expand-toggler" href="javascript:void(0);">
                <i class="mdi mdi-menu"></i>
              </a>
            </li>
          </ul>
          <ul class="nav-right">
            <li class="user-profile dropdown dropdown-animated scale-left">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <img class="profile-img img-fluid" src="/images/dummy.jpg" alt="">
              </a>
              <ul class="dropdown-menu dropdown-md p-v-0">
                <li>
                  <ul class="list-media">
                    <li class="list-item p-15">
                      <div class="media-img">
                        <img src="/images/dummy.jpg" alt="">
                      </div>
                      <div class="info">
                        <span class="title text-semibold">
                          <%= user.nama_lengkap %>
                        </span>
                        <!-- <span class="sub-title">UI/UX Desinger</span> -->
                      </div>
                    </li>
                  </ul>
                </li>
                <li role="separator" class="divider"></li>

                <li>
                  <a href="/logout">
                    <i class="ti-power-off p-r-10"></i>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!-- Header END -->

      <!-- Side Nav START -->
      <div id="app-sidebar"></div>
      <!-- <div class="side-nav expand-lg">
                <div class="side-nav-inner">
                    <ul class="side-nav-menu scrollable">
                        <li class="side-nav-header">
                            <span>Navigation</span>
                        </li>
                        <li class="nav-item">
                            <a href="">
                                <span class="icon-holder">
                                    <i class="mdi mdi-gauge"></i>
                                </span>
                                <span class="title">Single Link</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="mdi mdi-content-duplicate"></i>
                                </span>
                                <span class="title">Dropdown</span>
                                <span class="arrow">
                                    <i class="mdi mdi-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="active">
                                    <a href="">Dropdown Item 1</a>
                                </li>
                                <li>
                                    <a href="">Dropdown Item 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="javascript:void(0);">
                                <span class="icon-holder">
                                    <i class="mdi mdi-menu"></i>
                                </span>
                                <span class="title">Multiple Levels</span>
                                <span class="arrow">
                                    <i class="mdi mdi-chevron-right"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropdown">
                                    <a href="javascript:void(0);">
                                        <span>Level 1.2</span>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="javascript:void(0);">
                                        <span>Level 1.1</span>
                                        <span class="arrow">
												<i class="mdi mdi-chevron-right"></i>
											</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0);">Level 2</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> -->
      <!-- Side Nav END -->

      <!-- Page Container START -->
      <div class="page-container">

        <!-- Content Wrapper START -->
        <div class="main-content">
          <div class="container-fluid">
            <div id="app"></div>
          </div>
        </div>
        <!-- Content Wrapper END -->

        <!-- Footer START -->

        <!-- Footer END -->

      </div>
      <!-- Page Container END -->

    </div>
  </div>

  <script src="/assets/js/vendor.js"></script>

  <script src="/assets/js/app.js"></script>

  <script src="/javascripts/axios.min.js"></script>
  <script src="/javascripts/html2canvas.min.js"></script>
  <script src="/javascripts/jspdf.umd.min.js"></script>
  <script src="/javascripts/moment.min.js"></script>
  <script src="/javascripts/lodash.min.js"></script>
  <script src="/javascripts/vue.min.js"></script>
  <script src="/javascripts/vue-router.min.js"></script>
  <script src="/javascripts/bootstrap-vue.min.js"></script>
  <script src="/app/app-sidebar.js" defer></script>
  <script src="/app/<%= app %>.js" defer></script>
  <!-- page js -->

</body>

</html>